
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Protect the Light!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="/assets/js/mousetrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/main.css" type="text/css" />
  </head>

  <body>
    <div id="ui">
      <div v-if="!game.connected">
				<p>Yo i'm loading</p>
			</div>
      <div v-if="game.status === 'init'">
        <h1>Don't let the light go out...</h1>
				<div id="playerList">
          <ul>
            <li v-for="player in game.players">
              <span v-if="!player.role">[ - Choosing - ]</span>
              <span v-if="player.role">[ - {{ player.role }} - ]</span>

              <span v-if="!player.name">Unknown</span>
              <span v-if="player.name">{{ player.name }}</span>

              <span v-if="player.id === game.playerID"> (You)</span>
            </li>
          </ul>
			  </div>
        <div id="playerInitForm" v-if="!isPlayerSetup()">
          <form v-on:submit.prevent="onPlayerSetupSubmit">
            <input v-model="init.name" placeholder="Enter username" />
            <p class="error" v-if="init.error">{{ init.error }}</p>
            <select v-model="init.role">
              <option disabled value="">Select a role</option>
              <option value="archer">Archer</option>
            </select>
            <button>Update</button>
          </form>
        </div>
        <div id="playerInitForm" v-if="isPlayerSetup()">
          <span v-show="currentPlayer().ready"></span>
          <span v-show="!currentPlayer().ready">
            You're not ready. Are you ready to become ready?
            <button v-on:click="onPlayerReady">I am ready</button>
          </span>
        </div>
      </div>
    </div>
    <canvas id="viewport"></canvas>
    <div id="assets" style="display:none">
      <img src="/assets/images/grass.jpg" id="img_texture_grass" />
      
    </div>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/ui.js"></script>
  </body>
</html>
