
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lightwatch</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="/assets/js/mousetrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles/main.css" type="text/css" />
  </head>

  <body>
    <div id="ui">
      <div id="intro" class="g-overlay" v-if="!connected">
        <h1>Lightwatch</h1>
        <p v-if="gameStatus === 'disconnected'" class="alert alert-danger">
          You were disconnected from the server. Please reload.
        </p>
      </div>

      <div id="intro" class="g-overlay container" v-if="gameStatus === 'init'">
        <div id="title">
          <h1>Lightwatch</h1>
        </div>
        
        <div class="row" id="initBox">
          <div id="playerList--box" class="col-sm g-border-card">
            <h3>Players</h3>
            <ul id="playerList--list">
              <li class="playerList--item g-border-card" v-for="player in players">
                <span v-if="!player.role">[ - Selecting a role - ]</span>
                <span v-if="player.role">[{{ player.role }}]</span>

                <span v-if="!player.name">Unknown</span>
                <span v-if="player.name">{{ player.name }}</span>

                <span v-if="player.id === playerID"> (You)</span>
              </li>
            </ul>
          </div>
          <div id="playerInitForm" class="col-md" v-if="!isPlayerSetup()">
            <p>Select a name and role to begin.</p>
            <form v-on:submit.prevent="onPlayerSetupSubmit">
              <input v-model="initForm.name" placeholder="username" />
              <p class="error" v-if="initForm.error">{{ initForm.error }}</p>
              <select v-model="initForm.role">
                <option disabled value="">Select a role</option>
                <option value="archer">Archer</option>
                <option value="knight">Knight</option>
              </select>
              <button>Update</button>
            </form>
          </div>
          <div id="playerInitForm" class="col-md" v-if="isPlayerSetup()">
            <span v-show="me.ready">
              <p>Waiting for remaining players to be ready...</p>
            
            </span>
            <span v-show="!me.ready">
              <p>Waiting for additional players. When you're ready to begin select the button below.</p>
              <button class="btn btn-primary" v-on:click="onPlayerReady">Ready</button>
            </span>
          </div>
        </div>
      </div>

      <div id="ui-bar" v-if="gameStatus === 'playing'">
        <div id="abilityBar" class="g-flex-row">
          <h3>[{{ me.role }}] {{ me.name }}</h3>
          <div class="abilityButton">
            <timer
              :time="1000"
              :radius="25"
              :start-time="abilityUses['shoot-bow']"
               ></timer>
            A1
          </div>
         <div class="abilityButton">A2</div>
          <div class="abilityButton">A3</div>
          <div class="abilityButton">A4</div>
        </div>
        <div id="gauges">
          <gauge
            id="healthBar"
            :max-value="playerCharacter.hp"
            :value="playerCharacter.health"
            color="green"
          />
        </div>
      </div>
    </div>

    <canvas id="viewport"></canvas>

    <div id="assets" style="display:none">
      <img src="/assets/images/art/grass.jpg" id="img_texture_grass" />
      <img src="/assets/images/art/stone_circle.png" id="img_object_stone_circle" />
      <img src="/assets/images/art/arrow.png" id="img_object_arrow" />
      <img src="/assets/images/art/archer.png" id="img_entity_archer" />
      <img src="/assets/images/art/knight.png" id="img_entity_knight" />
      <img src="/assets/images/art/skele.png" id="img_entity_skele" />
    </div>

    <script src="/assets/js/utils.js"></script>
    <script src="/assets/js/2d-renderer.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/ui.js"></script>
  </body>
</html>
